@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100;1,400&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,100;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.hanged__Section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
}

.contact__Information {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.input__Section {
    display: flex;
    flex-wrap: wrap;
}

.input__Section>h1 {
    margin: 1rem;
    text-decoration: underline;
}

.showing__hanged {
    width: 50px;
    display: flex;
    justify-content: center;
}

.keyboard__Section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    width: 600px;
}

.keyboard__Section>button {
    padding: 1rem;
    background-color: lightsteelblue;
    font-weight: bolder;
}

.keyboard__Section>button:hover {
    background-color: lightgray;
}

@media only screen and (max-width: 600px) {
    .keyboard__Section {
        width: auto;
    }
}